DATABASE_URL="postgresql://postgres:secret@localhost:5432/pacttab"
SESSION_SECRET="pacttab-super-secret-key-change-in-production-min-32-chars"
BETTER_AUTH_SECRET="pacttab-super-secret-key-change-in-production-min-32-chars"
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
REDIS_URL="redis://default:password@host:port"
